* {
    margin: 0;
    padding: 0;
}

.block-hello {
    background-image: url("../../img/notes.jpg");
    background-size: cover;
}

.block-create {
    background-color: #ffdc96;
    opacity: 0.7;
}

.block-graph {
    background-color: #cfb3ff;
    opacity: 0.7;
}

.block-bas {
    background-image: url("../../img/black.jpg");
    background-size: cover;
}