* {
    margin: 0;
    padding: 0;
}

.block-hello {
    background-color: #ffd8a3;
}

.block-create {
    background-color: #cfb3ff;
}

.block-graph {
    background-color: #ffb3d9;
}

.block-bas {
    background-color: #bfffa6;
}